html {
    background: url("images/workspace.png") no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: 1920px 1080px;
}

.Desktop
{
    position: fixed;
    top: 86px;
    left: 450px;
}

.Desktop1 {
    position: fixed;
    top: 86px;
    left: 450px;
    border: 2px solid black;
    width: 1035px;
    height: 480px;
}

.brouse {
    position: fixed;
    color: green;
    top: 400px;
    left: 600px;
}

.error {
    position: fixed;
    top: 86px;
    left: 450px;
}

.msgBox {
    position: fixed;
    top: 0px;
    left: 1600px;
    width: 300px;
    height: 500px;
    color: white;
}

.close {
    position: fixed;
    top: 0px;
    left: 1900px;
    width: 20px;
    height: 20px;
}

.brouse {
    position: fixed;
    color: green;
    top: 400px;
    left: 600px;
}

.folder {
    position: fixed;
    color: green;
    top: 400px;
    left: 700px;
}

.music{
    position: fixed;
    color: white;
    top: 475px;
    left: 720px;
}

.inet {
    position: fixed;
    color: white;
    top: 475px;
    left: 620px
}

.stats {
    position: fixed;
    left: 0px;
    top: 980px;
}