html
{
    background: url(images/workspace.png) no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: 1920px 1080px;
}

.Desktop
{
    position: fixed;
    top: 86px;
    left: 450px;

}

.brouse
{
    position: fixed;
    color: green;
    top: 400px;
    left: 600px;
}

.inet
{
    position: fixed;
    color: white;
    top: 475px;
    left: 617px
}

.msgBox
{
    position: fixed;
    top: 0px;
    left: 1600px;
    width: 300px;
    height: 500px;
    color:white;
}

.close
{
    position: fixed;
    top:0px;
    left:1900px;
    width: 20px;
    height: 20px;
}

/*.brouse {
    position : fixed;
    color:green;
    bottom:1000px;
    left: 30px;
} */

.stats {
    position: fixed;
    left: 0px;
    top: 980px;
}
