body {
    background: url("images/Desktop.png") no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.div1{
    background-color: yellow;
    
   
    width:100px;
    height:0;
    padding:2% 0 2% 0;
    border: 2px solid black;
   position:fixed;
    bottom:200px;
}

.msgBox {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 200px;   
}

.close {
    position: fixed;
    top:0;
    right:0;
    width: 40px;
    height: 20px;
}

.brouse {
    position : fixed;
    color:green;
    bottom:210px;
    left: 30px;
}