.Oleg
{
    position: fixed;
    top: 86px;
    left: 450px;
}

.link {
    font-size:larger;
    color: blue;
}

.discr {
    font-size:smaller;
    font-family:cursive;
    color: black;
}

.box1 {

    font-size: small;
    border: 1px solid black;
    background-color: orange;
    position: fixed;
    width:600px;
    height: 120px;
    top:150px;
    left:560px;
}

.box2 {
    font-size: small;
    border: 1px solid black;
    background-color: greenyellow;
    width: 600px;
    height: 120px;
    position: fixed;
    top: 270px;
    left: 560px;
}

.box3 {
    font-size: small;
    position: fixed;
    width: 600px;
    height: 170px;
    top: 390px;
    left: 560px;
    border:1px solid black;
    background-color: pink;
}

#search {
    position: fixed;
    top: 110px;
    left: 558px;
    width: 700px;
}

.srch {
    position: fixed;
    top: 0px;
    left: 10px;
}

html {
    background: url(images/workspace.png) no-repeat 0px 0px;
    background-size: 1920px 1080px;

}

.msgBox {
    position: fixed;
    top: 0px;
    left: 1600px;
    width: 300px;
    height: 500px;
   
}

.close {
    position: fixed;
    top: 0px;
    left: 1900px;
    width: 20px;
    height: 20px;
}