.link {
    font-size:larger;
    color: blue;
}

.discr {
    font-size:smaller;
    font-family:cursive;
    color: black;
}

.box1 {
    margin:5px 10px 10px 10px;
    padding: 5px 505px 5px 5px;
    border: 1px solid black;
    background-color: orange;
    position: fixed;
    top:180px;
    left:200px;
}

.box2 {
    margin: 10px 10px 10px 10px;
    padding: 5px 500px 5px 5px;
    border: 1px solid black;
    background-color: greenyellow;
    position: fixed;
    top: 380px;
    left: 200px;
}

.box3 {
    margin: 10px 10px 10px 10px;
    padding: 5px 500px 5px 5px;
    position: fixed;
    top: 580px;
    left: 200px;
    border:1px solid black;
    background-color: pink;
}

#search {
    position: fixed;
    top: 70px;
    left: 218px;
    width: 700px;
}

.srch {
    position: fixed;
    top: 0px;
    left: 10px;
}

html {
    background: url(images/icon_oleg.png) no-repeat fixed;
}