html
{
    background: url("images/Reg.png") no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: 1920px 1080px;
}

.Login
{
    width:280px;
    height:20px;


    position:fixed;
    top:375px;
    left:600px;
}

.Password
{
    width:280px;
    height:20px;


    position:fixed;
    top:520px;
    left:600px;
}

.RequirePassword
{
    width:280px;
    height:20px;


    position:fixed;
    top:710px;
    left:600px;
}

.Submit
{
    width:330px;
    height:165px;

    border: 2px solid black;
    position:fixed;
    top:395px;
    left:1055px;
}