html {
    background: url(images/workspace.png) no-repeat 0px 0px;
    background-size:1920px 1080px;
}

.torrent
{
    position: fixed;
    top:86px;
    left:450px;
}


.div1 {
    position:fixed;
    left: 625px;
    top: 120px;
    border: 2px solid black;
    width: 390px;
    height:40px;
    
}

.div2 {
    position:fixed;
    left: 625px;
    top: 170px;
    border: 2px solid black;
    width: 350px;
    height:40px;

  
}

.div3 {
    position:fixed;
    left: 710px;
    top: 217px;
    border: 2px solid black;
    width: 200px;
    height:30px;
}

.div4 {
    position:fixed;
    left: 515px;
    top: 410px;
    border: 2px solid black;
    width: 240px;
    height:42px;
    
}

.div5 {
    position:fixed;
    left: 905px;
    top: 410px;
    border: 2px solid black;
    width: 210px;
    height:42px;
    
}

.div6 {
    position:fixed;
    left: 1030px;
    top: 410px;
    border: 2px solid black;
    width: 315px;
    height:63px;
    
}

.div7 {
    position:fixed;
    left: 200px;
    top: 50px;
    width: 340px;
    height:20px;
    
}

.msgBox {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 500px;
    
}

.close {
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 20px;
}