html
{
    background: url(images/workspace.png) no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: 1920px 1080px;
}
#search{
    position:fixed;
    top: 280px;
    left: 715px;
    width:450px;
}

.btn {
    position: fixed;
    top: 280px;
    left: 1170px;
}

.Oleg
{
    position: fixed;
    top:86px;
    left:450px;
}

.msgBox {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 500px;
    
}

.close {
    position: fixed;
    top: 0px;
    left: 1900px;
    width: 20px;
    height: 20px;
}