#search{
    position:fixed;
    top: 370px;
    left: 700px;
    width:450px;
}

.btn {
    position: fixed;
    top: 370px;
    left: 1155px;
}

html {
    background: url(images/Oleg.png) no-repeat fixed;
}