p {
    color: yellow;
    font-size:large;
}

.hp {
    position: fixed;
    right: 0;
    bottom: 40px;
}

.money {
    position: fixed;
    right: 0;
    bottom: 20px;
}

.bored {
    position: fixed;
    right: 0;
    bottom: 0;
}
